{:min-bb-version "1.3.0"
 :tasks
 {:requires
  ([babashka.process :refer [check]]
   [clojure.edn :as edn])

  :init
  (try (slurp ".constants.edn")
       (catch Exception ex "{}"))

  int
  (shell "cmd" "/c" "echo" "hello")}}
